div {
	
}

.isRed {
	@include border-radiusPick(2px);
	
	background: red;
	
}

.secFlip {
	padding-left: 100px;
	height: 580px;
}

.flipBox {
	display: inline-block;
}

@-webkit-keyframes slideUp {
    0%   { background: black; height: 100%; opacity: 1.0; border: 1.5px solid white;}
	50%  { background: black; height: 55%; opacity: 1.0; border: 2px solid grey;} 
    100% { background: black; height: 30%; opacity: 1.0;  border: 2.5px solid black;} 
}


@keyframes slideUp {
    0%   { background: black; height: 100%; opacity: 1.0; border: 1.5px solid white;}
	50%  { background: black; height: 55%; opacity: 1.0; border: 2px solid grey;} 
    100% { background: black; height: 30%; opacity: 1.0;  border: 2.5px solid black;} 
}

@-webkit-keyframes turnBackOn {
    0%   { background: black; }
	50%  { background: black; } 
    100% { background: black; } 
}


@keyframes turnBackOn {
    0%   { background: black; }
	50%  { background: black; } 
    100% { background: black; } 
}


.productContainer {
	@include border-radiusPick(2px);
	
	height: 250px;
	width: 300px;
	background: white;
	opacity: 1.0;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	
	&:hover {
	    -webkit-animation: turnBackOn 1s ease-out forwards;
	    animation: turnBackOn 1s ease-out forwards;
	}
	
	
}

.slideContainer {
	
	@include border-radiusPick(5px);
	
	height: 100%;
	width: 100%;
	background: white;
	opacity: 1;
	color: white;
	font-size: 2em;
	
	&:hover {
	    -webkit-animation: slideUp .3s ease-out forwards;
	    animation: slideUp .3s ease-out forwards;
	}
	
}

.productDesign {
	@include proDesign;
}

.productDesignTwo {
	@include proDesignTwo;
}

.productLabel {
	height: 18%;
	width: 100%;
	background: white;
	opacity: 0.7;
	color: black;
	padding: 2px;
	font-size: 1.5em;
}

