@-webkit-keyframes btnFade {
    0%   { background: white; color: black; border: 1px solid black; transform: scale(1.0); }
	50%  { background: grey; color: grey; border: 1px solid gray; transform: scale(1.1); } 
    100% { background: black; color: white; border: 1px solid white; transform: scale(1.0); } 
}

@keyframes btnFade {
    0%   { background: white; color: black; border: 1px solid black; transform: scale(1.0); }
	50%  { background: grey; color: grey; border: 1px solid gray; transform: scale(1.1); } 
    100% { background: black; color: white; border: 1px solid white; transform: scale(1.0); } 
}

.productButton {
	@include border-radiusPick(10px);
	
	border: 1px solid black;
	background: white;
	color: black;
	overflow: hidden;
	
	&:hover {
	    -webkit-animation: btnFade .35s ease-in-out forwards;
	    animation: btnFade .35s ease-in-out forwards;
	};
}